li {
  list-style: none;
}

.container {
  display: flex;
}

.container-grid {
  display: grid;
  grid-template-columns: 1fr 1fr ;
  margin-left: 43px;
  margin-top: 30px;
}

.container-child {
  margin: 0 auto;
}

.container-child-grid {
  margin: 0 auto;
  border: 2px solid #6abb19;
  padding: 10px;
}

.div-premiacoes {
  background-color: #6abb195e;
  margin-bottom: 8px;
  padding: 2px 15px;
}

.titulos {
  letter-spacing: 1.5px;
}

.color-sequencia {
  background-color: rgba(62, 174, 194, 0.808);
  padding: 2px;
  color: rgba(66, 121, 184, 0.952);
  width: 280px;
}

.btn {
  background-color: #e0f0ff; 
  color: #333; 
  padding: 10px 20px; 
  font-size: 16px; 
  border: none; 
  border-radius: 5px; 
  cursor: pointer;
  transition: background-color 0.2s;
}

.btn:hover {
  background-color: #b3e0ff; /* Azul um pouco mais escuro ao passar o mouse */
}

.lotofacil {
  color: #4b682e;
  background-color: #6abb19;
  padding: 0px 4px 0px 4px;
}

@media (max-width: 710px) {
  .container {
    flex-direction: column;
  }
  h1{
    font-size: 18px;
  }
  .color-sequencia {
    width: 290px;
  }
  .container-grid {
    grid-template-columns: 1fr;
    margin-left: 0px;
  }
}